<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">


    <div class="jumbotron">
        <h1>HELLO SHOP</h1>
        <p class="lead">음식점 등록 및 조회 기능</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/restaurant/register">음식점 등록</a>
            <a class="btn btn-lg btn-secondary" href="/restaurants">음식점 조회</a>
        </p>
        <p class="lead">메뉴 등록 및 메뉴판 조회</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/food/new">메뉴 등록</a>
            <a class="btn btn-lg btn-dark" href="/foods">메뉴판 조회</a>
        </p>

<!--        <p class="lead">메뉴 주문 기능</p>-->
<!--        <p>-->
<!--            <a class="btn btn-lg btn-info" href="/order">메뉴 주문</a>-->
<!--            <a class="btn btn-lg btn-info" href="/orders">메뉴 내역</a>-->
<!--        </p>-->
    </div>


</div> <!-- /container -->

</body>
</html>
